*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
}



p{
	font-size: 20px;
	color: #0A1028;
	line-height: 40px;

}

th{
	font-size: 20px;
	color: white;
	line-height: 40px;
	text-align: center;
	font-weight: normal;
	
}
td{
	color: #0A1028;
	
}

tbody td{
	background-color: white;
	border: solid #0A1028 1px;
	font-size: 20px;
	color: #0A1028;
}
table{
	width: 70vw;
	max-width: 700px;
	margin: auto;
	margin-top: 20px;
	

}
thead{
	border: solid #0A1028 1px;
	background-color: #0A1028;
}
h1{
	font-size: 40px;
	font-weight: lighter;
	color: #0A1028;
}

#main{
	height: auto;
	width: 100%;
	overflow: hidden;
	display: block;
	position: relative;
	top: -20px;
	/*background-image: url("./images/backgroundStill.png");
	background-size: cover;
	background-position: top;
*/
}

#filter{
	background-color: black;
	min-height: 100%;
	min-width: 100%;
}

.mainLogo{
	background-image: url(./images/Logo.svg);
	height: 60%;
	width: 60%;
	background-size: cover;
	margin: auto;
	margin-top: 65px;
	position: relative;
	
}

#welcome{
	overflow:auto;
	background-image: url('./images/dota.png');
	background-size: cover;
	background-position: center center;
	
	
	
}


#how{
	overflow:auto;
	background-image: url('./images/league.png');
	background-size: cover;
	background-position: center center;

	
	
}

#welcomeSpace{
	margin: 10% 0% 20% 0%;
}
#medals{
	background-image: url('./images/medals.png');
	height: 550px;
	width: 100%;
	background-size:contain;
	background-repeat:no-repeat;
	
}
#folder{
	background-image: url('./images/folder.png');
	height: 500px;
	width: 100%;
	background-size:contain;
	background-repeat:no-repeat;
	
}

#teams{
	background-image: url('./images/teams.png');
	height: 550px;
	width: 100%;
	background-size:contain;
	background-repeat:no-repeat;
	
}

#timeline{
	overflow:auto;
	background-image: url('./images/timelineBackground.png');
	background-size: cover;
	background-position: 100% 100%;
	
}

#video-background{
position: absolute;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -1;
  display: none;

}
#still{
position: absolute;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -2;
  background-image: url("./images/backgroundStill.png");
	background-size: cover;
	background-position: top;

}

span{
	
}

#teamOne{
	height: 300px;
	width: 300px;
	background-image:url("./images/wci.png");
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 100px;
}

#teamTwo{
	height: 300px;
	width: 300px;
	background-image:url("./images/sjam.png");
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 100px;
}

#crowd{
	background-image:url("./images/crowd.png");
	background-size: cover;
	background-attachment: fixed;
}
.navbar {
	background-color: #0A1028;
}
.navbar-nav li a, .navbar-nav li.active a {
	background-color: #0A1028;
	font-size:17px;
	transition: background-color 0.2s ease-in;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #0A1028  !important;
    background-color: #E7D467 !important;
	transition: background-color 0s ease-in;
}
.profile{
	width: 150px;
}

.aboutRow{
	width: 450px; 
	height:170px; 
	margin: auto;
	margin-top: 50px;
	
}
.aboutFirst{
	width: 150px; 
	height: 100%;
	float: left;
	padding-left: 0px;
	
}
.aboutSecond{
	height: 100%; 
	width: 300px; 
	display:inline-block;
	padding-top:18px;
	padding-left: 15px;
}
.aboutNames{
	font-size: 40px;
}

@media only screen and (max-width: 600px){
	.thin{
		content: url("./images/timelineThin.png");
	}
	#teamOne{
		margin-top: 20px;
	
}

	#teamTwo{
		display: none;
}

	#main{
		height: 800px;
	}
}



@media only screen and (max-width: 480px){
	.profile{
		width: 80px;
	}
	.aboutRow{
	width: 350px; 
	height:130px; 
	margin: auto;
}
	.aboutFirst{
	width: 100px; 
	padding-left: 15px;
}
.aboutSecond{
	width: 250px; 
	padding-top:0px;
}
.aboutNames{
	font-size: 30px;
}

 
 
 }
 
 
 .timelineRing{

	width: 320px;
	height: 320px;
	background-size: contain;
	margin: auto;
	right: 130px ;
	position: relative;
	background-repeat: no-repeat;
	background-image: url('./images/timelineRing.svg');
	z-index: 0;
	animation-name: rotate;
	animation-duration: 14s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
			}
.timelineNew{
	width: 1000px;
	margin:auto;
	display: block;
	margin-top: -308px;
	margin-bottom: 20px;

	position: relative;


}

@media only screen and (max-width: 1100px) {

	.timelineNew{
		width: 500px;
		margin:auto;
		display: block;
		margin-top: -154px;
		margin-bottom: 20px;
		
	}	
	.timelineRing{
				width: 160px;
				height: 160px;
				background-size: contain;
				margin: auto;
				right: 64px ;
				

			}
}

@media only screen and (max-width: 550px) {
	.timelineRing{
				left: 105px ;
				margin: 0;


			}
}

@keyframes rotate{
    0%   { transform: rotate(0deg);}
	14%   {transform:  rotate(60deg);}
	16%   {transform:  rotate(60deg);}	
	30%   {transform:  rotate(120deg);}	
	32%   {transform:  rotate(120deg);}	
	46%   {transform:  rotate(180deg);}	
	48%   {transform:  rotate(180deg);}
	62%   {transform:  rotate(240deg);}	
	64%   {transform:  rotate(240deg);}
	78%   {transform:  rotate(300deg);}	
	82%   {transform:  rotate(300deg);}
	96%   {transform:  rotate(360deg);}	
	100%   {transform:  rotate(360deg);}	
}

.whiteBackground{
	background-image: url("./images/whiteBackground.png");
	background-size: cover;
	background-position: center center;
}
.registerButton{
	height: 60px;
	width: 180px;
	background-color: #E7D467;
	margin: auto;
	color: #0A1028;
	text-align: center;
	cursor: pointer;
	font-size: 20px;
	padding: 13px;
	transition: background-color 0.1s ease-in;
	display: none;
	margin-top: -50px;
	margin-bottom: 70px;
}

.registerButton:hover{
	background-color: #E5E567;
	transition: background-color 0s ease-in;
}

.frame{
	display:block; 
	width: 500px; 
	margin: auto;
}
.games{
	width: 533px;
	margin: auto;
	overflow-x: auto; 
	overflow-y: hidden;
}
.hiddenAnchor{
	display: none;
}
.darkOne{
	background-image: url("./images/dark.png");
	background-size: cover;
	background-position: center center;
}
@media only screen and (max-width: 550px) {
	.frame{
		display: none;		


	}
	.registerButton{
		display: block;
	}
	.games{
		display: none;	
	}
	.hiddenAnchor{
	display: block;
	}
	#video-background{
		display: none;
	}
	#main{
		background-image: url("./images/backgroundStill.png");
		background-size: cover;
		background-position: top;
		height: 720px;
		background-color: grey;
	}
}

#ready{
	background-image: url("./images/ready.png");
	background-size: contain;
	background-position: top;
	background-repeat: no-repeat;
}



